<mat-card class="outer-card">
    <mat-card-header>
        <!--Slot for handle-->
        <ng-content></ng-content>
        <mat-card-title>
            {{ board.title }}
        </mat-card-title>
        <mat-card-subtitle>
            {{ board.id }}
        </mat-card-subtitle>
    </mat-card-header>
    <div cdkDropList cdkDropListOrientation="vertical" (cdkDropListDropped)="taskDrop($event)" class="tasks">
        <div cdkDrag *ngFor="let task of board.tasks; let i = index" class="inner-card" (click)="openDialog(task, i)">
            <mat-card [ngClass]="task.label">
                {{ task.description }}
            </mat-card>
        </div>
    </div>
    <button mat-stroked-button (click)="openDialog()">
        <mat-icon>add</mat-icon>
    </button>
</mat-card>